* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

/* Navbar */
.nav {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 5px 12px;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-logo {
  max-width: 230px;
  margin: 0;
  /* margin-right: auto; */
}
.nav-list {
  list-style-type: none;
  display: flex;
  font-weight: 700;
  display: none;
}
.nav-list li {
  padding: 12px;
}
.nav .button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #f4ce14;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background-color: #967d03;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  /* height: 532px; */
  background-color: #495e57;
  padding: 5px 30px;
  text-align: center;
}
.hero-heading {
  color: #f4ce14;
  font-size: 5em;
}
.hero-sub {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}
.hero-text {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.hero-left .hero-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #f4ce14;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0 20px;
}
.hero-button:hover {
  background-color: #967d03;
}

/* Specials section */
.specials {
  background-color: #fff;
  padding: 5px 30px;
}
.specials-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #f4ce14;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0 20px;
}
.specials-button:hover {
  background-color: #967d03;
}
.specials-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.specials-top > h3 {
  font-size: 27px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: auto;
  margin: 8px;
  border: thin solid #ccc;
  border-radius: 5px;
}
.card-text {
  padding: 2px 8px;
}
.card-img {
  height: 300px;
}
.specials-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.name-price > h4 {
  color: #fd5151;
}

/*Testimonials section*/
.testimonial {
  background-color: #495e57;
  padding: 5px 30px;
}
.tes-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  margin: 8px;
}
.tes-text {
  /* padding: 2px 8px; */
  color: #ebe7e7;
}
.tes-text > p {
  font-weight: 300;
  font-size: small;
}
.tes-text > h3 {
  margin: 5px 0 8px;
}
.tes-top {
  margin: 20px 0 30px;
}
.tes-top > h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.tes-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tes-img {
  height: 250px;
  border-radius: 5px;
}

/* About*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ab-title {
  margin: 20px 0 30px;
}
.ab-title > h2 {
  font-size: 2em;
}
.about-info {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 5px 30px;
  text-align: center;
  position: relative;
}
.ab-heading {
  color: #f4ce14;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.ab-text {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}
.img-1 {
  width: 100px;
  top: 50;
  right: 90px;
  position: absolute;
}
.img-2 {
  width: 100px;
  top: 170px;
  right: 50px;
  position: absolute;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  .nav-list {
    display: flex;
  }
  .nav-list li a {
    color: black;
    text-decoration: none;
  }
  .hero {
    flex-direction: row;
    align-items: center;
    /* height: 532px; */

    text-align: left;
  }
  .hero-left {
    flex: 1;
  }
  .hero-right {
    flex: 1;
    text-align: right;
  }
  .hero-img {
    width: 380px;
    border-radius: 10px;
  }
  .card {
    width: 33.33%;
    margin: 0;
  }
  .specials-down {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
  }
  .tes-card {
    width: 25%;
    margin: 0;
  }
  .tes-down {
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 0;
    /* gap: 10px; */
  }
  .about-info {
    flex-direction: row;
    align-items: center;
    /* height: 532px; */

    text-align: left;
  }
  .ab-left {
    flex: 1;
  }
  .ab-right {
    flex: 1;
    text-align: right;
  }
  .img-1 {
    width: 150px;
    top: 50;
    right: 90px;
    position: absolute;
  }
  .img-2 {
    width: 150px;
    top: 0;
    right: 50px;
    position: absolute;
  }
}
